SECRET_KEY=your-secret-key-here
DEBUG=True
NAME=mailing
USER=sender
PASSWORD=sender_password
HOST=localhost
PORT=5432

# Email настройки
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your-email@yandex.ru
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=your-email@yandex.ru

# Redis настройки
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=1
CACHE_ENABLED=True